<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.api.auto.testcase.TC_API_Login" />
			<class name="com.api.auto.testcase.TC_API_CreateWork" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
